$purple: #6200ee;
@mixin flexcenter() {
  display: flex;
  align-items: center;
}
.y-slider {
  display: flex;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
    user-select: none;
  }
  .y-slider__base {
    display: flex;
    position: relative;
    border-radius: 1px;
    background: transparentize($purple, 0.76);
    .y-slider__entities {
      display: flex;
      position: absolute;
      border-radius: 1px;
      .y-slider__handle {
        z-index: 1;
      }
      .y-slider__steps {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 1px;
        pointer-events: none;
        user-select: none;
        .y-slider__steps_clipping {
          display: flex;
          justify-content: space-between;
          border-radius: 1px;
        }
        .y-slider__step {
          display: flex;
          position: relative;
          align-items: center;
          justify-content: center;
          user-select: none;
          &::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 2px;
            border-radius: 1px;
            background: transparentize($color: white, $amount: 0.1);
          }
          &-edge {
            position: absolute;
            &::after {
              background: white;
            }
          }
        }
      }
    }
  }
  &-horizontal {
    align-items: center;
    width: 100%;
    height: 30px;
    .y-slider__base {
      align-items: center;
      width: 100%;
      height: 2px;
      min-height: 2px;
    }
    .y-slider__entities {
      flex-direction: row;
      align-items: center;
      min-width: 100%;
      height: 2px;
      .y-slider__steps_clipping {
        flex-direction: row;
        height: 100% !important;
      }
      .y-slider__step-edge {
        top: 50%;
        &:first-child {
          left: 1px;
        }
        &:last-child {
          right: 1px;
        }
      }
    }
    .y-slider__connect::after {
      padding: 5px 0;
    }
  }
  &-vertical {
    justify-content: center;
    width: 30px;
    height: 300px;
    .y-slider__base {
      justify-content: center;
      width: 2px;
      min-width: 2px;
      height: 100%;
    }
    .y-slider__entities {
      flex-direction: column;
      justify-content: center;
      width: 2px;
      min-height: 100%;
      .y-slider__steps_clipping {
        flex-direction: column;
        width: 100% !important;
      }
      .y-slider__step-edge {
        right: 50%;
        &:first-child {
          top: 1px;
        }
        &:last-child {
          bottom: 1px;
        }
      }
    }
    .y-slider__connect::after {
      padding: 0 5px;
    }
  }
}
