$purple: #6200ee;
@mixin flexcenter() {
  display: flex;
  align-items: center;
}
.y-slider {
  display: flex;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  .y-slider__base {
    display: flex;
    position: relative;
    background: transparentize($purple, 0.76);
    .y-slider__entities {
      display: flex;
      position: absolute;
      border-radius: 1px;
      .y-slider__handle {
        z-index: 1;
      }
      .y-slider__steps {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 1px;
        pointer-events: none;
        user-select: none;
        .y-slider__step {
          display: flex;
          position: relative;
          align-items: center;
          justify-content: center;
          user-select: none;
          &::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 2px;
            border-radius: 1px;
            background: transparentize($color: white, $amount: 0.1);
          }
        }
      }
    }
  }
  &-horizontal {
    align-items: center;
    width: 100%;
    height: 30px;
    .y-slider__base {
      align-items: center;
      width: 100%;
      height: 2px;
    }
    .y-slider__entities {
      flex-direction: row;
      align-items: center;
      min-width: 100%;
      height: 2px;
      .y-slider__step {
        margin-bottom: 0px !important;
      }
    }
  }
  &-vertical {
    justify-content: center;
    width: 30px;
    height: 300px;
    .y-slider__base {
      justify-content: center;
      width: 2px;
      height: 100%;
    }
    .y-slider__entities {
      flex-direction: column;
      justify-content: center;
      width: 2px;
      min-height: 100%;
      .y-slider__step {
        margin-right: 0px !important;
      }
    }
  }
}
