$purple: #6200ee;
@mixin flexcenter() {
  display: flex;
  align-items: center;
}
.y-slider {
  @include flexcenter();
  width: 100%;
  * {
    box-sizing: border-box;
  }
  .y-slider__base {
    @include flexcenter();
    position: relative;
    width: 100%;
    height: 2px;
    background: transparentize($purple, 0.76);
    .y-slider__handles,
    .y-slider__connects {
      @include flexcenter();
      position: absolute;
      min-width: 100%;
    }
  }
  &__horizontal {
    height: 30px;
  }
}
