$purple: #6200ee;
.y-slider__connect {
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 1px;
  &-visible {
    background: $purple;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px;
  }
}
