doctype html
html
  head
    title YSlider
    script(src="https://code.jquery.com/jquery-3.3.1.js")
    style.
      html,
      body {
        background: #efeeee;
      }
      body {
        padding: 200px 30px 0;
      }
      .y-slider {
          border-radius: 10px;
          box-shadow: 2px 2px 4px 0 rgba(209, 205, 199, 0.5),
            -2px -2px 4px 0 rgba(255, 255, 255, 0.5);
          padding: 0 20px;
          margin-bottom: 20px;
      }
  body
    .slider
    .slider.s2
    .unslider
    script $(".slider").YSlider({values:  [20, 30, 35, 70, 80], step: 6, orientation: "horizontal", displaySteps: true, displayBubbles: true, connects: [true, false, false, true, true, false]})