html
  head
    title JQUERY TEST PAGE
    script(src="https://code.jquery.com/jquery-3.3.1.js")
    style.
      html,
      body {
        background: #030305;
      }
      body {
        padding: 200px 30px 0;
      }
  body
    .slider
    script $(".slider").YSlider()